#city-name a {
  color: navy;
  text-decoration: none;
}

#city-name a:hover {
  color: rgb(59, 59, 168);
  text-decoration: none;
}

.bodyWrapper {
  background-color: rgba(0,0,0,0.4);
}

#body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-height {
  max-height: 350px !important;
  width: auto !important;
}

.strelica-slider {
  background-color: transparent;
}

.carousel-icons {
  font-size: 2em;
  color: rgb(54, 54, 54);
  background-color: rgb(230, 222, 222);
  border: 1px solid rgb(230, 222, 222);
  border-radius: 50%;
}

#forma-comment {
  display: none;
}

.current-hotel-rating {
  color: navy;
}

#login-obavestenje {
  color: white;
}

/* Rating zvezdice */
*{
  margin: 0;
  padding: 0;
}
.rate {
  height: 40px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:20px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#map {
  position: relative;
  z-index: 100;
  width: 600px;
  height: 450px;
  margin: 0 auto;
}

.mapboxgl-canvas {
  left: 0!important;
}

#map-menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  top: 7px;
  left: 7px;
  z-index: 1000; 
  }

  /* #map-menu input, label {
        display: block;
  } */

  label {
      margin-right: 5px;
  }

  @media only screen and (max-width: 768px) {
    .image-height {
      max-height: auto !important;
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 992px) {
    #map {
      width: 400px;
      height: 300px;
    }
  }

  @media only screen and (max-width: 600px) {
    #map {
      width: 300px;
      height: 230px;
    }
  }