#body {
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bodyWrapper {
  background-color: rgba(0,0,0,0.5);
}

#main-header img {
  width: 100%;
  height: 100%;
}

.bg-black {
  color: white;
  background: black;
}

#main-header .tab-item {
  width: 33.33%;
}

#main-header .tab-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dataDiv {
  background-color: #f5ba17;
}

.divContentWraper {
  margin: 0px;
  margin: 0px;
}

#accomodation .card-body {
  background-color: #b8daff;
}

#lifeInCity .card-body {
  background-color: #f5c6cb;
}

#feedback .card-body {
  background-color: #ffeeba;
}

#topAccomodations li a:link,
#topAccomodations li a:visited {
  text-decoration: none;
}

#login-obavestenje {
  color: white;
}

@media (min-width: 320px) {
  .cityHeadline {
    font-size: 20px;
  }

  .cityText {
    font-size: 12px;
  }

  .dataDiv {
    height: 15%;
  }

  .tabHeadline {
    font-size: 12px;
  }

  .cardBodyHeadline {
    font-size: 16px;
  }

  #nameAccomod {
    font-size: 16px;
  }
  #descriptionAccomod {
    display: none;
  }
  .moreClass {
    display: none;
  }
  .moreClass1 {
    display: none;
  }

  .cardBodyHeadline {
    margin-bottom: 0px;
    margin-top: 7px;
}
}

@media (min-width: 576px) {
  .cityHeadline {
    font-size: 25px;
  }
  .cardBodyHeadline {
    font-size: 24px;
  }
  #nameAccomod {
    font-size: 18px;
  }
  #descriptionAccomod {
    display: block;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .tabHeadline {
    font-size: 18px;
  }
  .cardBodyHeadline {
    font-size: 32px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .cityHeadline {
    font-size: 30px;
  }

  .cityText {
    font-size: 16px;
  }
  .tabHeadline {
    font-size: 24px;
  }
  #descriptionAccomod {
    font-size: 16px;
  }
}

@media (min-width: 1199px) {
  .tab-item {
    padding: 3em !important;
  }

  .dataDiv {
    height: 80%;
  }
}



/* Rating zvezdice */
*{
  margin: 0;
  padding: 0;
}
.rate {
  height: 40px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:20px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#comment-on-feedback {
  display: none;
}

