* {
  font-family: 'Roboto', sans-serif;
}

#cityList li a:link,
#cityList li a:visited {
  text-decoration: none; 
}
.cityMainImg {
  width: 100%;
  object-fit: cover;
}

#user-img {
  border-radius: 50%;
}